*.m~
*.asv
*.pdf
*.log
*.dat 
/libGF/datasets/AdultDataset
/libGF/datasets/AirportsDataset
/libGF/datasets/AmazonDataset
/libGF/datasets/BrainDataSet
/libGF/datasets/BXBooksDatasetv
/libGF/datasets/CollegeMsgDataset
/libGF/datasets/CrimeDataset
/libGF/datasets/EconomicSectorDataset
/libGF/datasets/FacebookDataset
/libGF/datasets/JesterDataset
/libGF/datasets/MovieLensDataset
/libGF/datasets/RSMovielensDataset
/libGF/datasets/TemperatureDataset
/libGF/datasets/TemperatureDatasetHourlyUS
/libGF/datasets/TemperatureTimeEvolvingDataset
/libGF/datasets/EarthquakeDataset
